@media (min-width: 1367px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 13, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 110.5%;
    }

    /* line 18, ../sass/theme-responsive.scss */
    .list-select .list-sort {
      border-right: 1px solid #333333;
      height: 41px;
    }
    /* line 22, ../sass/theme-responsive.scss */
    .list-select .formDropdown {
      width: 109.5%;
    }
}
}
@media (max-width: 1280px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 32, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 110.5%;
    }

    /* line 37, ../sass/theme-responsive.scss */
    .list-select .list-sort {
      border-right: 1px solid #333333;
      height: 41px;
    }
    /* line 41, ../sass/theme-responsive.scss */
    .list-select .formDropdown {
      width: 109.5%;
    }
}
}
@media (max-width: 1024px) {
  /* line 49, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .dropdown-menu .sub-menu > li > a {
    white-space: normal;
  }

  /* line 53, ../sass/theme-responsive.scss */
  .wp-ads li {
    padding: 10px 0 10px 10px;
  }
  /* line 54, ../sass/theme-responsive.scss */
  .wp-ads li .fa {
    font-size: 1.857em;
    margin-top: 5px;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 64, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111%;
    }

    /* line 68, ../sass/theme-responsive.scss */
    .featured-box-cart .formDropdown {
      width: 111.7%;
    }
}

  /* line 73, ../sass/theme-responsive.scss */
  .featured-box-cart .box-content {
    overflow-x: auto;
    padding-bottom: 30px;
  }

  /* line 77, ../sass/theme-responsive.scss */
  .featured-box-secondary.featured-box-cart .box-content {
    overflow-x: hidden;
    padding-bottom: 0;
  }

  /* line 82, ../sass/theme-responsive.scss */
  .pgl-fixed .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  /* line 90, ../sass/theme-responsive.scss */
  .navbar-header {
    float: none;
  }

  /* line 94, ../sass/theme-responsive.scss */
  .navbar-default .navbar-toggle {
    display: block;
  }

  /* line 98, ../sass/theme-responsive.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 102, ../sass/theme-responsive.scss */
  .navbar-collapse.in {
    overflow-y: auto;
  }

  /* line 106, ../sass/theme-responsive.scss */
  .collapse.in {
    display: block !important;
  }

  /* line 110, ../sass/theme-responsive.scss */
  .navbar-act {
    position: absolute;
    right: 45px;
    top: 0;
  }

  /* line 116, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav.pull-right {
    float: none !important;
  }

  /* line 120, ../sass/theme-responsive.scss */
  .navbar-collapse {
    background-color: black;
    min-width: 130px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 35px;
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transition: -moz-transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }
  /* line 136, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li {
    float: none;
  }
  /* line 138, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
	line-height: 40px!important;
    padding-bottom: 20px!important;
    padding-top: 10px!important;
  }
  /* line 144, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li > a.dropdown-toggle:before {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    top: 11px;
    color: #7e7e7e;
    font-size: 1.5em;
    font-weight: 700;
  }
  /* line 154, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li > a.dropdown-toggle:hover:before, .navbar-collapse .navbar-nav > li > a.dropdown-toggle:focus:before {
    color: white;
  }
  /* line 161, ../sass/theme-responsive.scss */
  .navbar-collapse .dropdown-menu {
    background: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
    display: block !important;
    float: none;
    padding: 10px 20px !important;
    position: static;
  }
  /* line 171, ../sass/theme-responsive.scss */
  .navbar-collapse .dropdown-submenu > .dropdown-menu {
    border-top: none;
    margin-top: 0;
  }

  /* line 177, ../sass/theme-responsive.scss */
  .collapse.in {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 185, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav .open > a:after {
    display: none;
  }
  /* line 188, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav .dropdown-menu {
    font-family: 'Raleway', sans-serif;
    font-size: .928em;
  }
  /* line 191, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav .dropdown-menu .dropdown-menu {
    font-size: 1em;
  }

  /* line 198, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .dropdown-menu {
    margin: 0;
  }
  /* line 201, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content {
    padding: 0 20px;
  }
  /* line 203, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 207, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content .menu-column {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
  }
  /* line 212, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content .menu-column + .menu-column {
    border-left: none;
    display: block;
    margin-top: 20px;
  }

  /* line 221, ../sass/theme-responsive.scss */
  .dropdown-submenu > a:after {
    display: none;
  }

  /* line 227, ../sass/theme-responsive.scss */
  .navbar-main .navbar-collapse .navbar-nav > li > a:hover, .navbar-main .navbar-collapse .navbar-nav > li > a:focus {
    background-color: #1abc9c;
    color: white;
  }
  /* line 237, ../sass/theme-responsive.scss */
  .navbar-main .navbar-collapse .navbar-nav > .active > a,
  .navbar-main .navbar-collapse .navbar-nav > .active > a:hover,
  .navbar-main .navbar-collapse .navbar-nav > .active > a:focus,
  .navbar-main .navbar-collapse .navbar-nav > .open > a,
  .navbar-main .navbar-collapse .navbar-nav > .open > a:hover,
  .navbar-main .navbar-collapse .navbar-nav > .open > a:focus {
    color: white;
    background-color: #1abc9c;
  }
  /* line 241, ../sass/theme-responsive.scss */
  .navbar-main .navbar-collapse .navbar-nav > .active > a:before {
    color: white;
  }

  /* line 247, ../sass/theme-responsive.scss */
  .navbar-main-narrow .logo {
    margin: 26px 0;
  }
  /* line 251, ../sass/theme-responsive.scss */
  .navbar-main-narrow .navbar-act > li > a {
    padding-bottom: 34px;
    padding-top: 34px;
  }
  /* line 256, ../sass/theme-responsive.scss */
  .navbar-main-narrow .shopping-bag {
    top: 24px;
  }

  /* home 2 */
  /* line 262, ../sass/theme-responsive.scss */
  .wp-ads li {
    min-height: 80px;
    text-align: center;
  }
  /* line 265, ../sass/theme-responsive.scss */
  .wp-ads li .fa {
    display: block;
    float: none;
    margin-right: 0;
    margin-top: 5px;
  }

  /* home 4 */
  /* line 274, ../sass/theme-responsive.scss */
  .navbar-main-drop {
    /* main nav */
  }
  /* line 276, ../sass/theme-responsive.scss */
  .navbar-main-drop .navbar-collapse {
    right: auto;
  }
  /* line 279, ../sass/theme-responsive.scss */
  .navbar-main-drop .navbar-act {
    position: static;
  }

  /* parallax */
  /* line 284, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 2.714em;
  }

  /* shop */
  /* line 290, ../sass/theme-responsive.scss */
  .shop_table th, .shop_table td {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* quickview-wrapper */
  /* line 298, ../sass/theme-responsive.scss */
  .quickview-wrapper .modal-dialog {
    width: auto;
  }
  /* line 301, ../sass/theme-responsive.scss */
  .quickview-wrapper .product-detail {
    padding: 30px 30px 0;
  }
}
@media (max-width: 980px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 311, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 110.5%;
    }

    /* line 314, ../sass/theme-responsive.scss */
    .featured-box-cart .formDropdown {
      width: 111.8%;
    }
}
}
@media (max-width: 768px) {
  /* line 322, ../sass/theme-responsive.scss */
  .main-demo .item {
    height: 400px;
  }

  /* line 325, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 2.857em;
  }

  /* line 329, ../sass/theme-responsive.scss */
  .pi-parallax .item {
    height: 300px;
  }
  /* line 331, ../sass/theme-responsive.scss */
  .pi-parallax .item blockquote {
    font-size: 1.857em;
  }

  /* line 335, ../sass/theme-responsive.scss */
  .pgl-fixed .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 640px) {
  /* line 343, ../sass/theme-responsive.scss */
  .navbar-nav {
    margin: 0;
  }

  /* line 350, ../sass/theme-responsive.scss */
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 355, ../sass/theme-responsive.scss */
  .nav-top.navbar-right {
    float: right;
  }

  /* line 359, ../sass/theme-responsive.scss */
  .navbar-right .dropdown-menu {
    left: auto;
    right: -1px;
  }

  /* line 364, ../sass/theme-responsive.scss */
  .navbar-act > li {
    float: left;
  }

  /* line 368, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 2.142em;
  }

  /* line 372, ../sass/theme-responsive.scss */
  .wp-ads li {
    display: block;
    width: 50%;
  }

  /* line 379, ../sass/theme-responsive.scss */
  .page-top .container,
  .page-top-md .container,
  .page-top-lg .container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 386, ../sass/theme-responsive.scss */
  #top .text-note {
    display: none;
  }

  /* line 390, ../sass/theme-responsive.scss */
  .navbar-main-narrow .logo {
    float: left;
  }

  /* line 394, ../sass/theme-responsive.scss */
  .main-demo .item {
    height: 300px;
  }

  /* line 398, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 2.142em;
    margin-bottom: 30px;
  }

  /* line 403, ../sass/theme-responsive.scss */
  .login-wrapper {
    width: 100%;
  }

  /* line 407, ../sass/theme-responsive.scss */
  .page-top h2, .page-top-md h2, .page-top-lg h2 {
    font-size: 2.857em;
  }

  /* ads */
  /* line 412, ../sass/theme-responsive.scss */
  div [class^="col-"] {
    float: none;
    width: 100%;
  }
  /* line 415, ../sass/theme-responsive.scss */
  div [class^="col-"] + [class^="col-"] {
    margin-top: 40px;
  }

  /* line 420, ../sass/theme-responsive.scss */
  .form-group [class^="col-"] + [class^="col-"] {
    margin-top: 0;
  }

  /* parallax */
  /* line 425, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 1.428em;
  }

  /* line 429, ../sass/theme-responsive.scss */
  .parallax-shop p {
    margin-bottom: 20px;
  }

  /* footer */
  /* line 434, ../sass/theme-responsive.scss */
  .footer [class^="col-xs-"] {
    float: none;
    width: 100%;
  }

  /* line 438, ../sass/theme-responsive.scss */
  .below-foot {
    text-align: center;
  }
  /* line 440, ../sass/theme-responsive.scss */
  .below-foot .text-right {
    text-align: center;
  }

  /* line 444, ../sass/theme-responsive.scss */
  .pro-tabs > li a {
    width: 120px;
  }

  /* shop */
  /* line 450, ../sass/theme-responsive.scss */
  .shop_table th, .shop_table td {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 454, ../sass/theme-responsive.scss */
  .shop_table td {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 462, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111.5%;
    }
}
}
@media (max-width: 360px) {
  /* line 471, ../sass/theme-responsive.scss */
  .login-wrapper .list-inline {
    display: block;
  }
  /* line 473, ../sass/theme-responsive.scss */
  .login-wrapper .list-inline li + li {
    margin-left: 0;
  }

  /* line 478, ../sass/theme-responsive.scss */
  .menu-shop .dropdown-menu {
    min-width: 300px;
  }

  /* line 482, ../sass/theme-responsive.scss */
  .btn {
    min-width: 0;
  }

  /* line 486, ../sass/theme-responsive.scss */
  .main-demo .item {
    height: 250px;
  }

  /* line 490, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 1.428em;
    margin-bottom: 20px;
  }

  /* line 495, ../sass/theme-responsive.scss */
  .pro-tabs > li {
    display: block;
    margin: 0;
  }
  /* line 498, ../sass/theme-responsive.scss */
  .pro-tabs > li a {
    width: 100%;
  }

  /* line 505, ../sass/theme-responsive.scss */
  .toolbar p.pull-left,
  .toolbar .list-sort.pull-right {
    float: none !important;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 512, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 111.2%;
    }

    /* line 515, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111%;
    }
}

  /* line 520, ../sass/theme-responsive.scss */
  .list-select .color {
    margin-left: 2px;
    margin-right: 2px;
    padding: 9px 9px 10px;
  }
}
@media (max-width: 320px) {
  /* line 528, ../sass/theme-responsive.scss */
  .list-select .color {
    margin-left: 1px;
    margin-right: 0;
    padding: 9px 5px 10px;
  }
}
